<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<div id="sidebar">
    <div id="user-info">
        {% if user.is_authenticated %}
            Hi {{ user.first_name }} {{ user.last_name }}!
           <!--  <p><a href="{% url 'logout' %}">Logout</a></p> -->
        {% else %}
            
            <a href="{% url 'signup' %}">Sign up</a> or 
            <a href="{% url 'login' %}">login</a> to save your clubs!
        {% endif %}

    </div>
    <div id="filters">
        Filter by Organization:
        <input type="text">
        <button class="filter-button">Filter</button>
    </div>

</div>
<div id="sidebar-icon" onclick="toggleSidebar()">
    <i class="fas fa-bars fa-2x"></i>
</div>

<div id="scroll-content">
    <div id="scroll-wrapper">
        <div class="row">
            {% for event in events %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="event-block">
                    <div class="event-block-img">
                        <img class='image' src="{{ event.img_url }}" alt="">
                    </div>
                    <h2>{{ event.name }}</h2>
                    <div class="event-block-details">
                        <div><i class="far fa-clock"></i>{{ event.date }}, {{ event.time }}</div>
                        <div><i class="fas fa-map-marker"></i>{{ event.location }}</div>
                        <div><i class="fas fa-users"></i>{{ event.organization.name }}</div>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>

{{ objects|json_script:"jsonObjects" }}

<script>
    const value = JSON.parse(document.getElementById('jsonObjects').textContent)
    console.log(value)
</script>


{% load static %}
<script src="{% static "index.js" %}"></script>

{% endblock %}