<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.0/fuse.min.js"></script>



<div id="sidebar">
    <div id="user-info">
        {% if user.is_authenticated %}
            Hi {{ user.first_name }} {{ user.last_name }}!
           <!--  <p><a href="{% url 'logout' %}">Logout</a></p> -->
        {% else %}
            
            <a href="{% url 'signup' %}">Sign up</a> or 
            <a href="{% url 'login' %}">login</a> to save your clubs!
        {% endif %}

    </div>
    <div id="filters">
        Filter by Organization:
        <input type="text" id="orgSearch">
        <button class="filter-button" onclick="filterByOrg()">Filter</button>
        <button class="filter-button" onclick="showAllEvents()">Show All Events</button>
        {% if user.is_authenticated %}
        <button class="filter-button" onclick="showOrgs()">Show Events for my Orgs</button>
        {% endif %}
    </div>

</div>
<div id="sidebar-icon" onclick="toggleSidebar()">
    <i class="fas fa-bars fa-2x"></i>
</div>

<div id="scroll-content">
    <div id="scroll-wrapper">
        <div class="row">
            {% for event in events %}
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="event-block {{ event.slug }}">
                    <div class="event-block-img">
                        <img class='image' src="{{ event.img_url }}" alt="">
                    </div>
                    <h2>{{ event.name }}</h2>
                    <div class="event-block-details">
                        <div><i class="far fa-clock"></i>{{ event.date }}, {{ event.time }}</div>
                        <div><i class="fas fa-map-marker"></i>{{ event.location }}</div>
                        <div><i class="fas fa-users"></i>{{ event.organization.name }}</div>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>

{{ eventObjects|json_script:"eventObj" }}
{{ userOrgsObjects|json_script:"userObj" }}

<script>
    const events = JSON.parse(document.getElementById('eventObj').textContent)
    const userOrgs = JSON.parse(document.getElementById('userObj').textContent)
    console.log(events)
    console.log(userOrgs)
</script>


<script src="{% static "index.js" %}"></script>

{% endblock %}