amqp==2.4.1
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
crontab==0.22.5
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
dj-database-url==0.5.0
Django==2.1.5
django-pyodbc-azure==2.1.0.0
djangorestframework==3.9.1
gunicorn==19.9.0
idna==2.8
kombu==4.3.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
numpy==1.16.1
plac==0.9.6
preshed==2.0.1
pyodbc==4.0.25
pypyodbc==1.3.4
python-decouple==3.1
pytz==2018.9
regex==2018.1.10
requests==2.21.0
six==1.12.0
spacy==2.0.18
thinc==6.12.1
toolz==0.9.0
tqdm==4.31.0
ujson==1.35
urllib3==1.24.1
vine==1.2.0
whitenoise==4.1.2
wrapt==1.10.11
